version: '3.9'

services:
  client:
    build: ./client
    ports:
      - "3000:3000"
    depends_on:
      - server
  server:
    build: ./server
    environment:
       PORT: ${PORT}
       NODE_ENV: ${NODE_ENV}
    depends_on:
      - db
    ports:
      - "4000:4000"

  db:
    image: postgres:16-alpine
    environment:
       POSTGRES_USER: ${POSTGRES_USER}
       POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
       POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data  
  


volumes:
  pgdata:
  